* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color-scheme: light dark;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

body {
 
    background: #E0DDCF;
}

.header {
    width: 100%;
    max-height: 120px;
    background-color: #213c3dfb; 
    color: #D9D9D9;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 10px;
  }

  .footer {
    width: 100%;
    height: 40px;
    background-color: #213c3dfb; 
    color: #D9D9D9;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .copyright,
  .inspired {
    display: flex;
    align-items: center;
  }

  .github-icon,
  .odin-icon {
    color: #F1F0EA;
    margin-left: 5px;
  }

  .Basic-Info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 1rem;

  }

  .the-title {
    position: relative;
    top: 0px; 

    max-width: 50px;
  }

  .header-h2 {
    position: relative;
    top: 1px;
  }

  .name-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .title-container {
    font-size: 25px;
    gap: 10px;
  }
  
  .name-row {
    display: flex;
  gap: 10px;
  }


  .edit-button,
  .reset-button {
    background-color: #534b5200;
    color: #F1F0EA;
    border: none;
    padding: 2px 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
  }

.done-editing {
  border: solid 2px black;
  background-color: #f1f0ea00;
  color: #333;
  font-size: 45px;
}

.edit-button:hover,
.reset-button:hover {
  background-color: #736E75;
}

.header-buttons {
  position: relative;
  top: -50px; 
  left: 250px;
}

::placeholder header{
  background-color: #474448c5;
  color: #F1F0EA;
  border: 2px solid #474448;
 
}

.submit-button {
  background-color: #f1f0ea00;
}

.remove-button,
.plus-button {
  background-color: #33333300;
  color: #000000;

}


/* main page */


.sidebar-container {
  display: flex;
  flex-direction: column;
  max-width: 250px; 
  height: 100%; 
  justify-content: flex-start;
  
}

.sidebar-component {
  padding-left: 20px;
   padding-right: 20px;

  margin: 5px;


}

.sidebar-component input {
  margin: 5px;
  border: none;
}


 #basicinfobutton {
 position: absolute;
 color: black;
}

.plus-button {
  position:absolute;
}



.main {
  display: flex;
height: 70vh;
  max-width: 100%;
  gap: 50px;
  font-size: 13px;
}



ul {
  list-style:none;
  width: 80%;
  
}



.mainContent-container {
 display: flex;
 flex-direction: column;
 gap: 50px;
 justify-content: flex-start;
 padding-left: 10px;
 padding-right: 10px; 
 align-items: flex-start;
}



.header input {
  background-color: #d9d9d910;
}

.header ::placeholder {
  color: rgb(189, 184, 184);
}

.container-information input, 
.skills-container input,
.language-container input{
  background-color: rgba(54, 58, 58, 0.678);
}

.container-information h2,
 .skills-container h2,
 .language-container h2{
  color: rgba(14, 94, 104, 0.699);
}

.container-information ::placeholder,
.skills-container ::placeholder,
.language-container ::placeholder {
  color: rgb(174, 180, 184);
}
  @media print {
    .remove-button,
    .reset-button,
    .edit-button,
    .plus-button,
    .inspired,
    .header-h2,
    .resume-title,
    .submit-button {
      display: none;
    }

   .containerEducation,
   .experiencecontainer {
      display: none;
    }

    ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: transparent;
    }
    :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: transparent;
    }
    ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: transparent;
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: transparent;
    }
    ::placeholder {
      /* Modern browsers */
      color: transparent;
  }
};