* {
    border: 0;
    margin: 0;
    
}

body {
 
    background: #E0DDCF;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #534B52; 
    color: #F1F0EA;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 10px;
  }

  .footer {
    width: 100%;
    height: 70px;
    background-color: #534B52; 
    color: #F1F0EA;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .copyright,
  .inspired {
    display: flex;
    align-items: center;
  }

  .github-icon,
  .odin-icon {
    color: #F1F0EA;
    margin-left: 5px;
  }

  .Basic-Info {
    width: 160vh;
    display: flex;
    flex-direction: row;
    gap: 4rem;
  
  }

  @media print {
    .remove-button,
    .reset-button,
    .edit-button,
    .plus-button,
    .inspired,
    .header-h2 {
      display: none;
    }
  }